# 01 - Load Raw Data

In [1]:
# import libraries
import pandas as pd
import requests
from pathlib import Path
from typing import Optional

In [2]:
def download_raw_data(year: int, month: int) -> pd.DataFrame:
    """
    Downloads the raw data for a given year and month from a specified URL and saves it as a parquet file.

    Args:
        year (int): The year of the data to download.
        month (int): The month of the data to download.

    Returns:
        str: The path to the downloaded parquet file.

    Raises:
        Exception: If the download fails.

    Example:
        >>> download_raw_data(2023, 1)
        '../data/raw/yellow_tripdata_2023-01.parquet'
    """
    URL_PATH = f'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_{year}-{month:02d}.parquet' 

    response = requests.get(URL_PATH)

    if response.status_code == 200:
        path = f"../data/raw/yellow_tripdata_{year}-{month:02d}.parquet"
        open(path, 'wb').write(response.content)
        return path
    else:
        raise Exception(f"Failed to download data from {URL_PATH}")

In [3]:
download_raw_data(year=2023, month=1)

'../data/raw/yellow_tripdata_2023-01.parquet'

In [4]:
# load raw data in parquet format using pandas
df = pd.read_parquet('../data/raw/yellow_tripdata_2023-01.parquet')
df.head(30)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.00,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.00,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.00,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.00,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.00,1.0,19.68,2.5,0.00
5,2,2023-01-01 00:50:34,2023-01-01 01:02:52,1.0,1.84,1.0,N,161,137,1,12.8,1.00,0.5,10.00,0.00,1.0,27.80,2.5,0.00
6,2,2023-01-01 00:09:22,2023-01-01 00:19:49,1.0,1.66,1.0,N,239,143,1,12.1,1.00,0.5,3.42,0.00,1.0,20.52,2.5,0.00
7,2,2023-01-01 00:27:12,2023-01-01 00:49:56,1.0,11.70,1.0,N,142,200,1,45.7,1.00,0.5,10.74,3.00,1.0,64.44,2.5,0.00
8,2,2023-01-01 00:21:44,2023-01-01 00:36:40,1.0,2.95,1.0,N,164,236,1,17.7,1.00,0.5,5.68,0.00,1.0,28.38,2.5,0.00
9,2,2023-01-01 00:39:42,2023-01-01 00:50:36,1.0,3.01,1.0,N,141,107,2,14.9,1.00,0.5,0.00,0.00,1.0,19.90,2.5,0.00
10,2,2023-01-01 00:53:01,2023-01-01 01:01:45,1.0,1.80,1.0,N,234,68,1,11.4,1.00,0.5,3.28,0.00,1.0,19.68,2.5,0.00
11,1,2023-01-01 00:43:37,2023-01-01 01:17:18,4.0,7.30,1.0,N,79,264,1,33.8,3.50,0.5,7.75,0.00,1.0,46.55,2.5,0.00
12,2,2023-01-01 00:34:44,2023-01-01 01:04:25,1.0,3.23,1.0,N,164,143,1,26.1,1.00,0.5,6.22,0.00,1.0,37.32,2.5,0.00
13,2,2023-01-01 00:09:29,2023-01-01 00:29:23,2.0,11.43,1.0,N,138,33,1,44.3,6.00,0.5,13.26,0.00,1.0,66.31,0.0,1.25
14,2,2023-01-01 00:33:53,2023-01-01 00:49:15,1.0,2.95,1.0,N,33,61,1,17.7,1.00,0.5,4.04,0.00,1.0,24.24,0.0,0.00
15,2,2023-01-01 00:13:04,2023-01-01 00:22:10,1.0,1.52,1.0,N,79,186,1,10.0,1.00,0.5,1.25,0.00,1.0,16.25,2.5,0.00
16,2,2023-01-01 00:45:11,2023-01-01 01:07:39,1.0,2.23,1.0,N,90,48,1,19.8,1.00,0.5,4.96,0.00,1.0,29.76,2.5,0.00
17,1,2023-01-01 00:04:33,2023-01-01 00:19:22,1.0,4.50,1.0,N,113,255,1,20.5,3.50,0.5,4.00,0.00,1.0,29.50,2.5,0.00
18,1,2023-01-01 00:03:36,2023-01-01 00:09:36,3.0,1.20,1.0,N,237,239,2,8.6,3.50,0.5,0.00,0.00,1.0,13.60,2.5,0.00
19,1,2023-01-01 00:15:23,2023-01-01 00:29:41,2.0,2.50,1.0,N,143,229,2,15.6,3.50,0.5,0.00,0.00,1.0,20.60,2.5,0.00
20,1,2023-01-01 00:51:45,2023-01-01 00:58:18,1.0,1.40,1.0,N,137,79,1,9.3,3.50,0.5,2.85,0.00,1.0,17.15,2.5,0.00
21,1,2023-01-01 00:13:30,2023-01-01 00:44:00,1.0,17.80,2.0,N,132,116,1,70.0,1.25,0.5,15.85,6.55,1.0,95.15,0.0,1.25
22,1,2023-01-01 00:21:49,2023-01-01 00:29:15,4.0,0.80,1.0,N,163,161,4,8.6,3.50,0.5,0.00,0.00,1.0,13.60,2.5,0.00
23,1,2023-01-01 00:52:06,2023-01-01 01:02:18,2.0,1.70,1.0,N,161,164,4,11.4,3.50,0.5,0.00,0.00,1.0,16.40,2.5,0.00
24,2,2023-01-01 00:19:12,2023-01-01 00:38:27,1.0,5.70,1.0,N,161,87,1,26.8,1.00,0.5,6.36,0.00,1.0,38.16,2.5,0.00
25,2,2023-01-01 00:31:41,2023-01-01 00:51:10,1.0,1.18,1.0,N,68,164,1,17.0,1.00,0.5,6.60,0.00,1.0,28.60,2.5,0.00
26,2,2023-01-01 00:58:49,2023-01-01 01:16:03,1.0,2.42,1.0,N,164,232,1,17.0,1.00,0.5,4.40,0.00,1.0,26.40,2.5,0.00
27,1,2023-01-01 00:22:24,2023-01-01 00:35:11,2.0,2.30,1.0,N,43,262,1,13.5,3.50,0.5,3.70,0.00,1.0,22.20,2.5,0.00
28,1,2023-01-01 00:40:13,2023-01-01 00:43:03,1.0,0.70,1.0,N,263,262,1,5.1,3.50,0.5,1.82,0.00,1.0,11.92,2.5,0.00
29,1,2023-01-01 00:54:05,2023-01-01 00:59:36,1.0,1.20,1.0,N,263,229,1,7.9,3.50,0.5,2.55,0.00,1.0,15.45,2.5,0.00

In [5]:
df = df[['tpep_pickup_datetime', 'PULocationID']]
df.head()

  tpep_pickup_datetime  PULocationID
0  2023-01-01 00:32:10           161
1  2023-01-01 00:55:08            43
2  2023-01-01 00:25:04            48
3  2023-01-01 00:03:48           138
4  2023-01-01 00:10:29           107

In [7]:
# renomear as colunas par um nome mais conveniente
df.rename(
    columns={
        'tpep_pickup_datetime': 'pickup_datetime',
        'PULocationID':'pickup_location_id'
    },
    inplace=True
    )

df.head()

      pickup_datetime  pickup_location_id
0 2023-01-01 00:32:10                 161
1 2023-01-01 00:55:08                  43
2 2023-01-01 00:25:04                  48
3 2023-01-01 00:03:48                 138
4 2023-01-01 00:10:29                 107

In [8]:
df.describe()

                  pickup_datetime  pickup_location_id
count                     3066766        3.066766e+06
mean   2023-01-17 00:22:26.288164        1.663980e+02
min           2008-12-31 23:01:42        1.000000e+00
25%    2023-01-09 16:21:57.250000        1.320000e+02
50%    2023-01-17 08:42:29.500000        1.620000e+02
75%           2023-01-24 16:26:27        2.340000e+02
max           2023-02-01 00:56:53        2.650000e+02
std                           NaN        6.424413e+01

In [9]:
# validacao dos dados
df = df[df['pickup_datetime'] < '2023-02-01']
df = df[df['pickup_datetime'] >= '2023-01-01']

df.pickup_datetime.describe()

count                       3066718
mean     2023-01-17 00:27:48.391113
min             2023-01-01 00:00:00
25%      2023-01-09 16:22:12.250000
50%      2023-01-17 08:42:40.500000
75%             2023-01-24 16:26:28
max             2023-01-31 23:59:59
Name: pickup_datetime, dtype: object

In [10]:
df.to_parquet('../data/transformed/validated_yellow_tripdata_2023_01.parquet')